# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Env / secrets
.env
.env.*

# IDE
.vscode/
.idea/
.DS_Store
